*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f1f1f1;
    overflow-x: hidden;
}

header{
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
}

.Nose{
    color: black;
}

.Nose1{
    color: #312a2a;
}

a{
    text-decoration: none;
    color: white;
    padding-right: 50px;
}

#Amarillo{
    background-color: #e7d800;
    width: 60px;
    display: flex;
    align-items: center;
    height: 40px;
    position: relative;
    right: 20px;
}

nav{
    background-color: #333;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: right;
}

#NOSE{
    position: relative;
    left: 900px;
}

.dropdown {
    color: white;
    font-size: 20px;
    position: relative;
    right: 20px;
    display: inline-block;
    margin: 0 20px;
}

.dropdown-content {
    color: rgb(0, 0, 0);
    display: none;
    position: absolute;
    right: -30px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    position: relative;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.Nose1{
    font-size: 13px;
    color: #999999;
}

.Nose11{
    font-size: 13px;
    color: #999999;
    position: relative;
    left: 745px;
    bottom: 17px;
}

.Nose{
    font-weight: bold;
    line-height: 1.15;
    text-transform: uppercase;
    color: #373737;
    border-bottom: 2px solid transparent;
}

.Arriba{
    position: relative;
    bottom: 20px;
    left: 600px;
}

.Abajo{
    position: relative;
    top: 50px;
    right: 250px;
}

#img{
    position: relative;
    left: 400px;
}  
  
  .container {
    width: 1100px;
    height: 25rem;
    position: relative;
    top: 100px;
    left: 25%;
    overflow: hidden;
  }
  
  .pic-container {
    height: inherit;
    width: inherit;
  }
  
  .pic-container,
  .pic,
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .pic {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffff;
    transition: all 500ms cubic-bezier(.42, .84, 0, 1.06);
  }
  
  .pic__img {
    width:90%;
    height: 90%;
    object-fit: cover;
  }
  
  .slider-btns {
    display: flex;
    gap: 3rem;
    position: relative;
    left: 1450px;
    top: 40px;
  }
  
  .btn-left,
  .btn-right {
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 2rem;
    font-weight: 700;
    z-index: 10;
  }
  
  .btn-left:hover,
  .btn-right:hover{
    transform: scale(1.4);
    opacity:100%;
  }

  
.deepbanner__item__tag {
    margin-bottom: 10px;
}

.etiqueta {
    margin-bottom: 5px;
    padding: 4px 8px 6px;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: #93733b;
    background-color: #eee5d5;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.Nosequeponer{
    width: 600px;
}

.ARRIBA{
    position: relative;
    bottom: 100px;
    left: 40px;
}

h2{
    position: relative;
    bottom: 70px;
    left: 40px;
}

h3{
    position: relative;
    bottom: 40px;
    left: 40px;
}

.Fecha{
    position: relative;
    top: 50px;
    right: 200px;
    width: 200px;
}
